.topic-page {
  overflow-y: auto;
  max-width: 800px;
  height: 90vh;
  margin: 40px auto;
  padding: 30px;
  background: #1a1a1a;
  color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.topic-title {
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: #ff5555;
  text-align: center;
}

.topic-description {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #ddd;
}

.topic-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  color: #aaa;
  border-top: 1px solid #333;
  padding-top: 15px;
}
.topic-meta2 {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  color: #aaa;
  padding-top: 15px;
  align-items: flex-start;
}

.post-form {
  height: 100px;
  width: 100%;
}
#textarea-post{
  width: calc(100% - 20px);
  border-radius: 10px;
}

.participant {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0 10px 0px 0px;
}
.topic-participants {
  display: flex;
  flex-direction: column !important;
}
.topic-tags {
  display: flex;
  flex-direction: column;
}

.loading {
  color: yellow;
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
}
.respond-button {
  z-index: 1000;
}

.topic-posts-container {
  max-height: 400px;
  margin-top: 10px;
  padding-right: 8px;
}