.phorums {
  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 10px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }

  button {
    margin-top: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
  }

  .background-title {
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 160px;
    z-index: 100;
  }
  .topics-container {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: calc(100vh - 200px);
    overflow-y: auto;
    scrollbar-color: #760101 #290202;
  }
  .add-btn {
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: 500;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .add-btn:hover {
    transform: scale(1.1);
  }
}
