.phorums {
  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 10px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }

  button {
    margin-top: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
  }
  .live-comments-container {
    z-index: 1000;

    position: fixed;
    right: 30px;
    bottom: 20px;
    padding-bottom: 20px;
    width: auto;
    height: auto;
    overflow: visible;
  }
  .live-comments-background {
    position: relative;
    overflow: visible;
    width: 400px;
    padding-bottom: 20px;
    height: calc(100% - 20px);
  }

  .live-comments-background > * {
    position: relative;
    z-index: 2;
  }
  .live-comments-background::before {
    content: "";
    position: absolute;
    inset: 0;
    scale: 1.2;
    background: rgba(39, 39, 39, 0.75);
    clip-path: polygon(15px 49px, 8.74% 86.65%, 95.2% 100.46%, 91.67% 4.37%);
    z-index: 1;
  }

  /* .background-title {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 160px;
    z-index: 100;
  } */
  .topics-container {
    margin-top: 82px;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: calc(100vh - 200px);
    overflow-y: auto;
    scrollbar-color: #760101 #290202;
  }
  .add-btn {
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: 500;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .add-btn:hover {
    transform: scale(1.1);
  }
}
