.live-comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;

  .poll-header {
    display: flex;
    flex-direction: column;
  }

  .poll-title {
    display: flex;
    align-items: center;
  }

  .q-icon {
    font-size: 74px;
    font-weight: bold;
    margin-right: 10px;
  }

  .text-area {
    display: flex;
    flex-direction: column;
  }

  .title-sticker {
    transform: rotate(-10deg);
    font-family: Persona5;
    font-size: 2rem;
    z-index: 1;
  }

  .subtitle {
    font-size: 18px;
    transform: rotate(-5deg);
    padding: 10px;
    z-index: 2;
  }

  .poll-percent {
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    overflow: visible;
  }
  .poll-bar {
    position: relative;
    clip-path: polygon(6px 6px, 1.6% 82.65%, 91.98% 96.46%, 93.1% 0.37%);
    height: 25px;
    background: #111;
    width: 70%;
    margin-top: 10px;
    margin-left: 20px;
    overflow: visible;
    z-index: 3;
  }
  /* Border */
  /* .poll-bar::before {
    content: "";
    position: absolute;
    inset: 0;
    scale: 1.2;
    background: rgb(255, 255, 255);
    clip-path: polygon(6px 6px, 1.6% 82.65%, 91.98% 96.46%, 93.1% 0.37%);
    z-index: 1;
  } */

  .bar-fill {
    height: 100%;
    background: red;
  }

  .bar-yes {
    position: absolute;
    right: 100px;
    transform: translate(50%);
    font-weight: bold;
    z-index: 5;
  }

  .bar-percent {
    position: absolute;
    bottom: -10px;
    color: red;
    right: -10px;
    font-size: 3em;
    z-index: 4;
  }

  .poll-message {
    margin-left: 12px;
    font-size: 18px;
  }

  .username {
    font-weight: bold;
  }
}
