@font-face {
  font-family: "Earwig factory";
  src: url(../../assets/fonts/earwig\ factory\ rg.otf);
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: black;
  margin: 0px;
}

#star-BG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/Red-Star-Looping-Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  transition: filter 0.5s ease-in-out;
}
#star-BG.red {
  filter: grayscale(0) brightness(1) saturate(1);
}
#star-BG.white {
  filter: grayscale(1) brightness(3) saturate(1);
}

#cut {
  z-index: 2;
  width: 100%;
  height: 200px;
  top: 50%;
  position: fixed;
  display: block;
  left: 0;
  background-image: url("../../assets/images/Cut-With-Black.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#cut-black {
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 70%;
  position: fixed;
  display: block;
  left: 0;
  background-color: #000000;
}

#main-view {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: #282828f5;
  clip-path: polygon(6% 5%, 100% 0%, 93% 90%, 0% 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#goToSite-btn {
  cursor: pointer;
}
form {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: #000000f5;
  clip-path: polygon(6% 5%, 100% 0%, 93% 90%, 0% 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 230px;
}
.content {
  color: white;
}
.field {
  margin-bottom: 15px;
  width: 100%;
}

input {
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
  border: 0px;
  background-color: black;
  color: white;
}
.field-container {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  transition: clip-path 0.5s ease-in-out, background-color 0.3s;
}
.field-container.login-email,
.field-container.signup-password {
  clip-path: polygon(0 0, 96% 18%, 95% 77%, 4% 100%);
}

.field-container.login-password,
.field-container.signup-email {
  clip-path: polygon(0 16%, 90% 0, 96% 98%, 0 81%);
}
#signup-password,
#login-email {
  clip-path: polygon(0 0, 96% 18%, 95% 77%, 4% 100%);
}
#signup-email,
#login-password {
  clip-path: polygon(0 16%, 90% 0, 96% 98%, 0 81%);
}
.title-log-sign {
  margin: auto;
  font-size: 50px;
  padding: 15px;
  width: fit-content;
  color: white;
  background-color: black;
  clip-path: polygon(5% 29%, 93% 0, 97% 74%, 0% 100%);
}
.rotate-txt {
  display: inline-block;
  font-family: "Earwig factory";
  transform: rotate(-3deg);
}

.button {
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  height: 50px;
}
.button-container.blue {
  background-color: #007bff;
  clip-path: polygon(
    10% 1%,
    90% 19%,
    86% 55%,
    99% 79%,
    67% 100%,
    67% 76%,
    0 71%
  );
  width: 205px;
  height: 55px;
  padding: 10px;
}

.button.red {
  background-color: #ff0000;
}

.button-container.green {
  background-color: #28a745;
  clip-path: polygon(
    12% 18%,
    92% 0,
    100% 72%,
    35% 76%,
    30% 97%,
    6% 78%,
    16% 56%
  );
  padding: 15px;
  width: 205px;
}
#signup-btn {
  clip-path: polygon(
    12% 18%,
    92% 0,
    100% 72%,
    35% 76%,
    30% 97%,
    6% 78%,
    16% 56%
  );
}
#login-btn {
  clip-path: polygon(
    10% 1%,
    90% 19%,
    86% 55%,
    99% 79%,
    67% 100%,
    67% 76%,
    0 71%
  );
}

.hint {
  rotate: -7deg;
  margin-top: 10px;
  font-size: 14px;
  color: #000000 !important;
}

.hint a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: rgb(255, 35, 35);
  font-size: 14px;
  margin-bottom: 15px;
  display: none;
}

#signup-form,
#login-form {
  z-index: 100;
  display: none;
  clip-path: polygon(6% 5%, 100% 0%, 93% 90%, 0% 100%);
  background-color: #ffffffe9;
  padding: 30px;
}

#login-form.active,
#signup-form.active {
  display: block;
}
