.topic {
  overflow: visible;
  display: grid;
  grid-template-columns: 60px auto 35px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 0px;
  padding: 10px 5px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.badge {
  position: absolute;
  top: 0px;
  left: -10px;
  background: rgb(0, 0, 0);
  color: red;
  font-size: 13px;
  padding: 7px 9px;
  rotate: -10deg;
  clip-path: polygon(0 0, 100% 0, 86% 92%, 18% 93%);
  z-index: 10;
}
.badge::before {
  content: "";
  position: absolute;
  inset: 5px;
  background: rgb(255, 255, 255);
  clip-path: polygon(0 0, 100% 0, 86% 92%, 18% 93%);
  z-index: -1;
}

.NEW {
}

.OLD {
  color: gray !important;
}

.title-topic {
  z-index: 9;
  word-break: keep-all;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 92% 17%, 99% 86%, 12% 100%);
  font-family: "Earwig factory";
  color: black;
  background-color: white;
  padding: 10px 20px;
  font-size: 20px;
  rotate: -7deg;

  width: max-content;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}
.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 50px;
  background-color: #fa1111a1;
  clip-path: polygon(0 16%, 100% 0, 91% 100%, 6% 86%);
  z-index: 8;
}

.content-bg {
  position: absolute;
  top: 16px;
  left: 58px;
  width: 90%;
  height: 60%;
  clip-path: polygon(0 21%, 89% 0, 95% 97%, 6% 88%);
  background-color: #fa1111a1;
  rotate: 2deg;
  z-index: -1;
}

.nbr-posts {
  color: rgb(195, 194, 194);
  font-size: 10px;
  direction: rtl;
  display: flex;
  align-items: center;
}
