.search-bar {
  clip-path: polygon(0 0, 96% 22%, 94% 77%, 1% 92%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: rgb(83, 81, 81);
  width: 100%;
  height: 40px;
  margin: 15px;
  position: relative;
  z-index: 2;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    inset: 9px;
    background: rgb(0, 0, 0);
    clip-path: polygon(0 0, 96% 22%, 94% 77%, 1% 92%);
    z-index: -1;
  }
}
.search-bar input {
  border: none;
  background: transparent;
  color: white;
  font-size: 18px;
  width: 100%;
  outline: none;
}
.search-bar .search-icon {
  margin-right: 25px;
  width: 20px;
  color: white;
}
