.sidebar {
  width: 220px;
  background: #111;
  padding: 20px;
  color: white;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  transition: ease-out 0.1s;
}

.sidebar.collapsed {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center ;
  align-self: center;
  width: 50px;
  height: 50px;
  background: #c5c5c5;
  border-radius: 8px;
  margin-bottom: 20px;
}

.menu {
  flex: 1;
}

.menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: background 0.2s;
}

.menu button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icon {
  font-size: 20px;
}

.disconnect-btn {
  margin-bottom: 10px;
}

.toggle {
  margin-top: auto;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
}

.tooltip {
  display: flex;
  position: fixed;
  pointer-events: none;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.95);
  border: 3px solid white;
  color: white;
  padding: 10px 14px;
  font-size: 14px;
 width: auto;
}

.tooltip-desc {
  justify-content: center;
  margin-top: 4px;
  font-size: 12px;
  color: #ccc;
}
