.notfound-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.notfound-content h1 {
  font-size: 150px;
  color: red;
  margin: 0;
}

.notfound-content p {
  font-size: 24px;
  margin: 20px 0;
}

.back-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #900a0a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.back-btn:hover {
  background-color: #bf0a0a;
}
